@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=PT+Sans+Narrow&display=swap');
body {
    margin: 0 auto;
    padding-top: 50px;
    background-color: rgba(0,179,179,.4);
    font-family: 'Kanit', sans-serif;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0,179,179,.7);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(0,179,179,1);
}

a{
    color: rgba(0,179,179,.9);
    text-decoration: none;
}
a:hover{
    color: rgba(0,102,102,.9);
    text-decoration: none;
}

/* STRUCTURE  LOGIN */

.registration-form{
    padding: 50px 0;
}

.registration-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .form-icon{
    text-align: center;
    font-size: 40px;
    color: white;
    margin: auto;
    border-radius: 30px;
    margin-bottom: 50px;
    line-height: 100px;
}

.registration-form .file{
    width: 100%;
}
.registration-form .item{
    border-radius: 20px;
    margin-bottom: 25px;
    padding: 10px 20px;
}

.registration-form .create-account{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    margin-top: 20px;
}

.registration-form .social-media{
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    padding: 35px 0;
    text-align: center;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: #9fadca;
    border-top: 1px solid #dee9ff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons{
    margin-top: 30px;
    margin-bottom: 16px;
}

.registration-form .social-icons a{
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.registration-form .social-icons a:hover{
    text-decoration: none;
    opacity: 0.6;
}

@media (max-width: 576px) {
    .registration-form form{
        padding: 50px 20px;
    }

    .registration-form .form-icon{
        width: 70px;
        height: 70px;
        font-size: 30px;
        line-height: 70px;
    }
}
/* STRUCTURE  LOGIN */


/* STRUCTURE  MENSAGE https://www.bootdey.com/snippets/view/bs4-simple-chat-app (com algumas alterações)*/
.jumbotron{
    background-color: #fff; !important;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.jumbotron .line{
    width: 100%;
    border-bottom: 2px solid #5691ff;
}
.areaTexto{
    padding-bottom: -40px;
}

.set-right{
    position: absolute;
    right: 0px;
    margin-top: -40px;
    margin-right: 50px
}
.set-center {
    position: absolute;
    top: 50%;
    width: 90%;
    text-align: center;
    font-size: 18px;
}

/*************** 2.Mixins ***************/


/************************************************************************************************
                                        Search Box
************************************************************************************************/

.chat-search-box {
    -webkit-border-radius: 3px 0 0 0;
    -moz-border-radius: 3px 0 0 0;
    border-radius: 3px 0 0 0;
    padding: .75rem 1rem;
}

.chat-search-box .input-group .form-control {
    -webkit-border-radius: 2px 0 0 2px;
    -moz-border-radius: 2px 0 0 2px;
    border-radius: 2px 0 0 2px;
    border-right: 0;
}


.chat-search-box .input-group .input-group-btn .btn {
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    margin: 0;
}

.chat-search-box .input-group .input-group-btn .btn i {
    font-size: 1.5rem;
    line-height: 100%;
    vertical-align: middle;
}

@media (max-width: 767px) {
    .chat-search-box {
        display: none;
    }
}


/************************************************************************************************
                                    Users Container
************************************************************************************************/

.users-container {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

/***********************************************************************************************
                                            Users
************************************************************************************************/

.users {
    padding: 0;
    overflow: auto;
    height: 400px;
}

.users .person {
    position: relative;
    width: 100%;
    padding: 10px 1rem;
    cursor: pointer;
}

.users .person:hover {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#e9eff5), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #e9eff5, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #e9eff5, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #e9eff5, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #e9eff5, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #e9eff5, #ffffff);
}

.users .person.active-user {
    background-color: #ffffff;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f9fb), to(#ffffff));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(right, #f7f9fb, #ffffff);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(right, #f7f9fb, #ffffff);
    /* FF3.6 */
    background-image: -ms-linear-gradient(right, #f7f9fb, #ffffff);
    /* IE10 */
    background-image: -o-linear-gradient(right, #f7f9fb, #ffffff);
    /* Opera 11.10+ */
    background-image: linear-gradient(right, #f7f9fb, #ffffff);
}

.users .person:last-child {
    border-bottom: 0;
}

.users .person .user {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.users .person .user img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.users .person .user .status {
    width: 15px;
    height: 15px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: #e6ecf3;
    position: absolute;
    top: 0;
    right: 0;
}

.users .person .user .status.publica {
    background: #9ec94a;
}

.users .person .user .status.offline {
    background: #c4d2e2;
}

.users .person .user .status.reservada {
    background: #f9be52;
}

.users .person .user .status.pricada {
    background: #fd7274;
}

.users .person p.name-time {
    font-weight: 600;
    font-size: .85rem;
    display: inline-block;
}

.users .person p.name-time .time {
    font-weight: 400;
    font-size: .7rem;
    text-align: right;
    color: #8796af;
}

@media (max-width: 767px) {
    .users .person .user img {
        width: 30px;
        height: 30px;
    }
    .users .person p.name-time {
        display: none;
    }
    .users .person p.name-time .time {
        display: none;
    }
}

/************************************************************************************************
                                    Chat right side
************************************************************************************************/

.selected-user {
    min-height: 30px;
    line-height: 30px;
    border-bottom: 2px solid #00b3b3;
    -webkit-border-radius: 0 3px 0 0;
    -moz-border-radius: 0 3px 0 0;
    border-radius: 0 3px 0 0;
    padding-bottom: 10px;
    margin-top: -30px;
}

.selected-user span {
    line-height: 100%;
}

.selected-user span.name {
    font-weight: 700;
    font-size: 28px;
}

.chat-container {
    padding: 1rem;
    background-color: rgba(0,179,179,.2);
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
}
.btn-down{
    margin-left: 40%;
}

.chat-box{
}

.chat-container div.chat-left .chat-text {
    background-color: rgba(204,255,255,.5);
    border: 1px solid #004d4d;
    max-width: 50%;
}
.chat-container div.chat-right .chat-text {
    border: 1px solid #004d4d;
    max-width: 50%;
}
.chat-container div.chat-left,
.chat-container div.chat-right {
    display: flex;
    flex: 1;
    flex-direction: row;
    margin-bottom: 25px;
}

.chat-container div img {
    width: 48px;
    height: 48px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.chat-container div .chat-avatar {
    margin-right: 20px;
}

.chat-container div.chat-right {
    justify-content: flex-end;
}

.chat-container div.chat-right > .chat-avatar {
    margin-left: 20px;
    margin-right: 0;
}

.chat-container div .chat-name {
    font-size: .75rem;
    color: #999999;
    text-align: center;
}

.chat-container div .chat-text {
    padding: .4rem 1rem;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #ffffff;
    font-weight: 300;
    line-height: 150%;
    position: relative;
    font-family: 'PT Sans Narrow', sans-serif;
}

.chat-container div .chat-text:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    top: 10px;
    left: -20px;
    border: 10px solid #004d4d;
    border-color: transparent #004d4d transparent transparent;
}

.chat-container div.chat-right > .chat-text {
    text-align: right;
}

.chat-container div.chat-right > .chat-text:before {
    right: -20px;
    border-color: transparent transparent transparent #004d4d;
    left: inherit;
}

.chat-container div .chat-hour {
    padding: 0;
    margin-bottom: 10px;
    font-size: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 0 0 15px;
}

.chat-container div .chat-hour > span {
    font-size: 16px;
    color: #9ec94a;
}

.chat-container div.chat-right > .chat-hour {
    margin: 0 15px 0 0;
}

@media (max-width: 767px) {
    .chat-container div.chat-left,
    .chat-container div.chat-right {
        flex-direction: column;
        margin-bottom: 30px;
    }
    .chat-container div img {
        width: 32px;
        height: 32px;
    }
    .chat-container div.chat-left .chat-avatar {
        margin: 0 0 5px 0;
        display: flex;
        align-items: center;
    }
    .chat-container div.chat-left .chat-hour {
        justify-content: flex-end;
    }
    .chat-container div.chat-left .chat-name {
        margin-left: 5px;
    }
    .chat-container div.chat-right .chat-avatar {
        order: -1;
        margin: 0 0 5px 0;
        align-items: center;
        display: flex;
        justify-content: right;
        flex-direction: row-reverse;
    }
    .chat-container div.chat-right .chat-hour {
        justify-content: flex-start;
        order: 2;
    }
    .chat-container div.chat-right .chat-name {
        margin-right: 5px;
    }
    .chat-container div .chat-text {
        font-size: .8rem;
    }
}

.chat-form {
    padding: 15px;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    border-top: 1px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.card {
    border: 0;
    background: #f4f5fb;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 2rem;
    box-shadow: none;
}

.botchat{
    margin: 50px;
    background-color: #8fcafe;
    border-radius: 5px;
}

.botchat div.chat-name{
    color: #4b5257;
    font-size: 12px;
}

.botchat div.chat-text{
    background-color: #8fcafe;
}
/* STRUCTURE  MENSAGE */


/* STRUCTURE  PORFILE https://bootsnipp.com/snippets/mMV9Z  */

.profile{
    position: absolute;
    top: 260px;
    right: 130px;
}

.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 0px;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}
.files input:focus{     outline: 2px dashed #92b0b3;  outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear; border:1px solid #92b0b3;
}
.files{ position:relative}
.files:after {  pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ background-color:#f1f1f1;}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}



#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
#tab-button li {
    display: table-cell;
}
#tab-button li a {
    display: block;
    padding: .5em;
    background: #fff;
    text-align: center;
    color: #000;
    text-decoration: none;
}
#tab-button li:not(:first-child) a {
    border-left: none;
}
#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #eee;
}
.tab-contents {
    margin-top: -30px;
    margin-bottom: -30px;
    padding: .5em 2em 1em;
}

@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }
    .tab-select-outer {
        display: none;
    }
    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
    }
}

/* STRUCTURE  PORFILE */
/* STRUCTURE  CONVERSAS */
.box{
    padding:0px 0px;

}

.box-part{
    border-radius:0;
    border: 2px solid #00b3b3;
    padding:20px 10px;
    margin:30px 0px;
    height: 200px;
}
.tobottom{
    position: absolute;
    bottom: 35px;
    right: 60px;
}
/* STRUCTURE  CONVERSAS */
